.hey {
  background-image: url(./img/mychatbg.jpg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
} 



.chat-screen {
  width: 80%;
  display: flex;
  margin: auto;
  margin-top: 50px;
}

.chat-connections {
  width: 30%;
  padding-right: 10px;
}

.connection-heading {
  font-weight: 800;
  color: #011627;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: cursive;
}

.chat-info {
  
  height: 60px;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 88%;
  padding: 0px 23px;
  background-color: #c2e3e0;
  margin-bottom: 10px;
  border-radius: 15px;
}

.chat-icon img {
  width: 30px !important;
  height: 30px !important;
}

.chat-info img {
  width: 52px;
  height: 50px;
  border-radius: 100%;
}

.chat-info .user-name {
  font-family: "Red Hat Display", Helvetica;
  font-weight: 500;
  color: #000d07;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;

  margin: 0;
  white-space: nowrap;
}

.chat-info .user-username {
  margin: 0;
  margin-top: 5px;
  font-family: "Readex Pro", Helvetica;
  font-weight: 400;
  color: #797c7a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

.chat-screen-area {
  width: 70%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  border-left: 3px solid #280b2d;
}

.chat-heading {
  display: flex;
  height: 10%;
}

/* .chat-heading img {
  width: 10%;
  height: 66px;
} */

.chat-heading p {
  font-family: "Alata", Helvetica;
  font-weight: 560;
  color: #000d07;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  width: 90%;
  margin: auto;
}

.chat-area {
  height: 83%;
  /* background-color: #eaeaea; */
  padding: 10px;
}

.chat-input-area {
  height: 7%;
  display: flex;
}

.chat-input-area input {
  width: 90%;
}

.chat-input-area button {
  width: 10%;
  background-color: #E43270;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor:pointer;
}
.edit-pic{
    border-radius: 100%;
    width: 52px;
    height: 50px;
    margin-left:10px;
}
.nochat{
    margin: auto;
    margin-top: 94px;
    margin-left: 203px;
}
.connection-heading-chat{
    overflow: hidden;
    color: #E43270;
    white-space: nowrap;
    text-align: center;
    margin-top: 72px;
    margin-bottom: 17px;
    font-weight: bold !important;
    font: inherit;
    font-size: 1.6rem;
    text-decoration: underline;
    font-family: 'FontAwesome';
    margin-left:-27px;
}