/* global */
body {
  margin: 0;
  line-height: normal;
  /* overflow: hidden; */
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-caveat: Caveat;

  /* font sizes */
  --font-size-lgi: 19px;
  --font-size-lgi-3: 19.3px;
  --font-size-base-8: 15.8px;
  --font-size-base: 16px;
  --font-size-66xl-7: 85.7px;
  --font-size-2xl-5: 21.5px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-200: #fefefe;
  --color-gray-100: #011627;
  --color-gray-300: rgba(0, 0, 0, 0.55);
  --color-gray-400: rgba(0, 0, 0, 0.6);
  --color-gray-500: rgba(0, 0, 0, 0.15);
  --color-gray-600: rgba(0, 0, 0, 0.13);
  --color-gray-700: rgba(0, 0, 0, 0.1);
  --color-gray-800: rgba(0, 0, 0, 0.65);
  --color-red-100: rgba(255, 0, 0, 0.75);
  --color-rosybrown: #916161;
  --color-mintcream: #f9fff5;

  /* Border radiuses */
  --br-sm-2: 13.2px;
  --br-4xl: 23px;
  --br-lg: 18px;
  --br-20xl: 39px;
  --br-25xl-3: 44.3px;
}



.lets-setup-your {
  position: absolute;
  top: 711px;
  left: 396px;
  font-family: var(--font-caveat);
}
.navholder {
  position: absolute;
  top: -21px;
  left: -60px;
  background-color: var(--color-rosybrown);
  width: 1440px;
  height: 96px;
  display: none;
}
.navbutton-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xl);
  background-color: var(--color-gray-100);
  width: 126px;
  height: 42px;
}
.register {
  position: absolute;
  top: 10px;
  left: 30px;
  font-weight: 600;
  display: inline-block;
  width: 65px;
  height: 22.8px;
  opacity: 0.85;
}
.navbutton {
  position: absolute;
  top: 6px;
  left: 1194px;
  width: 126px;
  height: 42px;
}
.about-us,
.contact-us,
.home {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
  width: 56.3px;
  opacity: 0.85;
}
.about-us,
.contact-us {
  left: 105.3px;
  width: 88.2px;
}
.contact-us {
  left: 242.4px;
  width: 106.5px;
}

.navitems {
  position: absolute;
  top: 18px;
  left: 486px;
  width: 349px;
  height: 19px;
  color: var(--color-black);
}
.whatsapp-image-2023-10-30-at-6-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 230.2px;
  height: 55px;
  object-fit: cover;
}
.navbar {
  position: absolute;
  top: 19px;
  left: 60px;
  width: 1320px;
  height: 55px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.illustration-icon2 {
  position: absolute;
  bottom:150px;
  left: 648.8px;
  width: 714.7px;
  height: 700px;
}
.span {
  color: var(--color-red-100);
}
.confirm-password {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.confirmpassword-child {
  position: absolute;
  top: 28.9px;
  left: -0.9px;
  border-radius: 13.16px;
  background-color: var(--color-gray-200);
  border: 0.9px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 365.8px;
  height: 49.2px;
}
.confirmpassword-item {
  position: absolute;
  top: 42px;
  left: 41px;
  width: 87px;
  height: 24px;
}
.mdipassword-off-outline-icon {
  position: absolute;
  top: 44px;
  left: 10px;
  width: 19px;
  height: 19px;
  overflow: hidden;
}
.confirmpassword,
.password {
  position: absolute;
  top: 256px;
  left: 0;
  width: 364px;
  height: 103.5px;
}
.password {
  top: 153px;
}
.email-login{
  top:80px;
}
.confirmpasswordlogin{
  top:180px;
}
.johndoegmailcom {
  position: absolute;
  top: 40px;
  left: 44px;
  font-size: var(--font-size-lgi-3);
  color: var(--color-gray-600);
}
.icoutline-email-icon {
  position: absolute;
  top: 44px;
  left: 12px;
  width: 19px;
  height: 19px;
  overflow: hidden;
  opacity: 1;

}
.frame-child,
.username {
  position: absolute;
  top: 53px;
  left: 0;
  width: 364px;
  height: 103.5px;
}
.frame-child {
  top: 31.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 365px;
  height: 1px;
}
.account-details {
  position: absolute;
  top: 0;
  left: 109px;
  font-weight: 600;
}
.account-details-login{
  left:90px;
}
.line-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 364px;
  height: 32px;
  font-size: var(--font-size-lgi);
  color: var(--color-gray-800);
}
.button-child {
  /* top: 0;
  left: 0;
  border-radius: 8px;
  background-color: var(--color-gray-100);
  width: 78px;
  height: 33.8px; */
  top: 0;
  left: -4px;
  border-radius: 8px;
  background-color: var(--color-gray-100);
  width: 78px;
  height: 33.8px;
  cursor: pointer;
}
.button,
.button-child,
.next {
  position: absolute;
}
.next {
  top: 8px;
  left: 16px;
  font-weight: 700;
  border: none;
  outline: none;
  background-color: #011627;
  color:white;
  /* letter-spacing: 1.5px; */
  font-size: 15px;
}
.nextlogin{
  left:10px;
}
.button {
  top: 367px;
  left: 143px;
  width: 78px;
  height: 33.8px;
  cursor: pointer;
  font-size: 14.25px;
  color: var(--color-white);
}

.registersign-in {
  color: #8d00a6;
}
.already-have-an-container {
  position: absolute;
  top: 420px;
  left: 70px;
  font-size: 14px;
  color: var(--color-black);
}
.form,
.hero {
  position: absolute;
  top: 105.4px;
  left: 0;
  width: 364px;
  height: 437px;
}
.hero {
  top: 46px;
  left: 173px;
  height: 719px;
  font-size: 15.79px;
  color: var(--color-gray-400);
}
.register-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 832px;
  cursor: pointer;
  text-align: left;
  font-size: 85.67px;
  color: transparent;
  font-family: var(--font-inter);
}

.myalign{
  display: flex;
  align-items: center;
}
.inputalign{
  margin-left: 40px;
  width:100%;
  border: none;
  outline: none;
  
  height: 91%;
  border-radius: 10px;
}
.inputalign:hover{
  outline: none;
}
